*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ======== css for navbar =========== */
.appHeader .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    text-transform: uppercase;
}
.appHeader .navbar-brand {
    width: 120px;
    display: inline-block;
}
.brandSlider .carousel-item {
    height: 450px;
}
.brandSlider .carousel-item img.d-block.w-100 {
    height: 100%;
    object-fit: cover;
}
/* background-image: url() Its very complecated bcoz, more imgs required more img urls */
/* .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
/* .carousel-item:nth-child(1){
    background-image: url(image1);
}
.carousel-item:nth-child(1){
    background-image: url(image2);
}
.carousel-item:nth-child(1){
    background-image: url(image3);
} */
.brandSlider .carousel-caption {
    bottom: auto;  /* to nullify */
    top: 20%;
}
/* ==========  homeheading css ============ */
.HomeHeading, .video {
    background-image: url('https://iamrk-js.github.io/bootstrap4/assets/images/lights.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.HomeHeading::before,.video::before {
    content:'';
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.HomeHeading .row {
    z-index: 10;
}
/* ==========  video css ========== */
.video {
    background-image: url('https://iamrk-js.github.io/bootstrap4/assets/images/media.jpg');
}

.footer {
    background-color: #000;
    font-size: 18px;
}